/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navigation styles */
nav {
  background-color: aqua;
  padding: 15px;
}

nav a {
  margin: 15px;
}

/* Container for large images */
.large-container {
  display: grid;
  grid-template-columns: 1fr;
}

.large-container img {
  width: 100%;
  height: auto;
}

/* Container for small images */
.second-container {
  display: grid;
  grid-template-columns: 1fr;
}

.right {
  background-color: beige;
  padding: 50px;
}

.second-container img {
  width: 100%;
  /* height: 150px; */
}

/* Grid layout for small images */
.left {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

/* Media query for responsiveness */
@media screen and (min-width: 768px) {
  .large-container {
    grid-template-columns: 1fr 1fr;
  }

  .second-container {
    grid-template-columns: 1fr 1fr;
  }

  .left {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "image1 image2"
      "image3 image2";
  }

  .image1 {
    grid-area: image1;
  }

  .image2 {
    grid-area: image2;
  }

  .image3 {
    grid-area: image3;
  }
}
